*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url("https://www.w3schools.com/w3images/hamburger.jpg");
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #fff;
    color: #000;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0px;
    z-index: 10;

}
li a{
    text-decoration: none;
    color: #2c2a2a;
}
li{
    list-style: none;
    padding: 8px 16px;
    margin: 0 20px;
    
}
li:hover{

   background-color: gray;
}
li{
    list-style: none;
    padding: 8px 16px;
    margin: 8 20px;
    
}
.rightnav{
    display: flex;
}
.main h1{
    color: #4f4c4c;
   position: absolute;
   bottom: 10px;
   
}
.about{
    display: flex;
    width: 70vw;
    margin: 60px auto;
    gap: 40px;
}
.img img{
    border-radius: 15px;
    height: 80vh;
}
.aboutus{
    gap: 40px;
    color: #252222;

}
.heading{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 18px ; 
    font-weight: lighter ; 
}
.heading h1,h5{
    margin: 30px;
}

.aboutus  p:first-of-type{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}
.aboutus p:nth-of-type(2){
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    color: #676161;
    margin-top: 20px;
    
}
.line{
    border: 1px solid rgb(186, 186, 186);
    height: 1px;
    width: 70vw;
    margin: auto;
}

.menu{
    display: flex;
    width: 70vw;
    margin: 60px auto;
    margin-top: 80px;
    gap: 60px;
    
}
.aboutmenu h1{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    color: #676161;
}
.foodes{
    
    margin-top: 35px;
}
.foodes h4{
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 22px;
}
.foodes p{
    color: #676161;
    margin-top: 10px;
}

.aboutmenuimg img{
    object-fit: contain;
     border-radius: 8px;
     
}

.contact{
    width: 70vw;
    margin: 50px auto;
}
.contact h1{
    /* text-align: center; */
    letter-spacing: 2px;
    font-weight: 100;
    color: #676161;
    margin-bottom: 30px;
}
.contact p{

    margin-bottom: 20px;
}
.contact h3{

    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(82, 171, 196);
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formContainer input{
     border: none; 
    height: 38px;
    padding: 5px 20px;
    font-size: 16px;
}
.formContainer input:hover{
     border: none; 
   
}
.footer{
    height: 150px;
    background-color: #c6c6c692;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 122px;
    height: 33px;
    border-radius: 11px;
}


















@media only screen and (max-width: 480px) {
    .navbar{
        flex-direction: column;
        height: auto;
        width: 100vw;
    }
    .rightnav{
        flex-direction: column;
    }
    .main{
     
    }
    .about{
        flex-direction: column;

    }
    .aboutus .heading h1{
        font-weight: 300;
       
    }
    .menu{
        flex-direction: column;
    }
    .aboutmenuimg {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .aboutmenuimg img {
        width: 70vw;
        margin: auto;
        
    }
    .img img{
        
        width: 70vw;
        margin: auto;
    
    }
}
