*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://www.w3schools.com/howto/img_link_tree_template1_bg.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
   z-index: 10;
   gap: 20px;
}
.imgname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: wheat;
    height: 30vh;
}
.imgname img{
    width: 150px;
    border-radius: 50%;
}
h3 {
    font-weight: 400;
}
h3 span{
    background-color: black;
    color: white;
    font-weight: 800;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn{
    background-color: rgba(156, 39, 176, 0.6);
    padding: 5px 15px;
    width: 300px;
    color: white;
    border-radius: 4px;
    font-size: 20px;
   
    border-color: rgba(240, 234, 234, 0.108);
}
.btn:hover{
    background-color: rgb(193, 11, 11);
    padding: 5px 15px;
    width: 300px;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* gap: 20px; */
    font-size: 20px;
    font-weight: 600;
}
.text input{
   width: 600px;
   height: 30px;
   
}